:root {
  --primary: #4b3869;
  --secondary: #63b4b8;
  --tertiary: #a9e4d7;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
  color: #fff;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muted {
  font-size: 7vw;
  color: #afaffc;
}

.meter {
  width: 80vw;
  border: 3px solid var(--tertiary);
  height: 5vw;
}

.completed {
  width: 0px;
  display: block;
  height: 100%;
  background-color: var(--secondary);
}

.dis {
  font-size: 17vw;
  font-style: bolder;
}

.sprint {
  text-align: center;
}

.image {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

footer {
  margin-top: 150px;
  text-align: center;
  font-size: 12px;
  color: var(--secondary);
  padding: 1rem;
}

.stop {
  background-color: var(--primary);
  border: none;
}

.stop-btn {
  display: none;
  height: 15vw;
  width: 15vw;
  color: #fff;
}

.mobile-start {
  display: inline-block;
}

.desktop-start {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .mobile-start {
    display: none;
  }

  .desktop-start {
    display: inline-block;
  }

  .dis {
    font-size: 4rem;
  }

  .container {
    justify-content: space-evenly;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .muted {
    font-size: 12px;
  }

  .stop-btn {
    height: 40px;
    width: 40px;
  }

  .meter {
    height: 10px;
  }
}

@media only screen and (max-width: 999px) {
  .heading {
    font-size: 15vw;
  }

  .sprint {
    display: none;
  }

  footer {
    font-size: 3vw;
  }
}
